#!/usr/bin/make -f

export PYBUILD_NAME=dynamic-ipset
export DH_VERBOSE=1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install CLI script
	install -D -m 755 bin/dynamic-ipset debian/dynamic-ipset/usr/bin/dynamic-ipset
	# Install default config
	install -D -m 644 etc/dynamic-ipset/config debian/dynamic-ipset/etc/dynamic-ipset/config
	install -d -m 755 debian/dynamic-ipset/etc/dynamic-ipset/config.d
	# Install systemd units
	install -D -m 644 systemd/dynamic-ipset@.service debian/dynamic-ipset/lib/systemd/system/dynamic-ipset@.service
	install -D -m 644 systemd/dynamic-ipset@.timer debian/dynamic-ipset/lib/systemd/system/dynamic-ipset@.timer

override_dh_installsystemd:
	# Skip automatic systemd handling since we use template units
	dh_installsystemd --no-enable --no-start

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python3 -m pytest tests/ -v --ignore=tests/test_integration.py
endif
